<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-left">
        <h1>H1 Header</h1>
        <p>Pppp</p>
      <!--<div class="jumbotron text-center">
          <div class="container">
            <img src="/assets/icon/favicon-72x72.png" alt="Page logo">
            <h1>Smart sensor houses</h1>
            <p>Manage your house, rooms and sensors</p>
            <p>
              <a class="btn btn-primary btn-lg" routerLink="/contact" role="button">
                <span class="glyphicon glyphicon-book"></span> Contact
              </a>
              <a class="btn btn-primary btn-lg" href="https://github.com/ComponentTeam/SmartSensorHouses" role="button" target="_blank">
                <span class="glyphicon glyphicon-file"></span> Repository
              </a>
            </p>
          </div>
      </div>
      <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About us</h2>
                <hr class="start-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p class="font-size-20">
                  <strong>SmartSensorHouses&copy;</strong> gives you the opportunity to manage your house and make it smart!
                  You can manage your houses easily with our intuitive user interface.
                  Adding new rooms and attaching sensors to them, has never been easier!
                  With the click of a button, you can monitor and manage your house from anywhere, as long as you are connected to the Internet.
                </p>
            </div>
            <div class="col-lg-4">
                <p class="font-size-20">
                  If you are having trouble setting up your sensors and connecting them with our application,
                  don't hesitate to write us on our <strong><a routerLink="/contact">contact page</a></strong>.
                  We will reply you in a timely manner.
                  If have any suggestions which will improve our website, please let us know.
                </p>
            </div>
        </div>
      </div>-->

    </div>
  </div>
</div>
