<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-left">
      <a class="navbar-brand" routerLink="/home"><span class="glyphicon glyphicon-globe text-primary"></span><span class="hidden-xs"> Home</span></a>
      <a class="navbar-brand" routerLink="/house-list"><span class="glyphicon glyphicon-home text-success" aria-hidden="true"></span><span class="hidden-xs"> Houses</span></a>

      <a class="navbar-brand"><span class="glyphicon glyphicon-cog " aria-hidden="true"></span></a>
      <a class="navbar-brand"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
      <a class="navbar-brand"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
      <a class="navbar-brand"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
      
    </div>
    <div class="navbar-right" *ngIf="!this.userMeta.userIsLoggedIn">
      <a class="navbar-brand" routerLink="/user-register"><span class="glyphicon glyphicon-asterisk text-primary" aria-hidden="true"></span><span class="hidden-xs"> Register</span></a>
      <a class="navbar-brand" routerLink="/user-login"><span class="glyphicon glyphicon-off text-primary" aria-hidden="true"></span><span class="hidden-xs"> Login</span></a>
    </div>
    <div class="navbar-right" *ngIf="this.userMeta.userIsLoggedIn">
      <a class="navbar-brand" routerLink="/user-details">
        <span class="glyphicon glyphicon-user text-primary" aria-hidden="true"></span>
        <span class="hidden-xs"> {{this.userMeta.currentUser.FirstName}} {{this.userMeta.currentUser.LastName}}</span>
      </a>
      <a class="navbar-brand" (click)="this.user.logout()"><span class="glyphicon glyphicon-off text-danger" aria-hidden="true"></span><span class="hidden-xs"> Logout</span></a>
    </div>
  </div>
</nav>
<div>
  <div class="visible-xs-block">
    <br/>
    <br/>
  </div>
  <router-outlet></router-outlet>
</div>