<div class="container">
  <div *ngFor="let house of this.service.userHouses" class="col-md-4 col-sm-4 col-xs-6">
    <div class="panel panel-primary text-center">

      <div class="panel-heading">{{house.HouseName}}</div>
      <div class="panel-body">{{house.HouseDescription}}</div>
      <div class="panel-body">{{house.HouseLocation}}</div>
      <div class="panel-body">
        <a (click)="houseClicked(house)" *ngIf="house.RoomIds == 1" class="btn btn-primary">{{house.RoomIds.length}} room</a>
        <a (click)="houseClicked(house)" *ngIf="house.RoomIds != 1" class="btn btn-primary">{{house.RoomIds.length}} rooms</a>
      </div>
      <div class="panel-footer">Id: {{house.HouseId}}</div>

    </div>
  </div>
</div>
<!--pager-->
<nav class="container text-center" aria-label="...">
  <ul class="pagination">
    <li [class.disabled]="this.service.pageNumber == 1">
      <a (click)="prevPage()" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>
    <li *ngFor="let page of this.service.pages" [class.active]="page == this.service.pageNumber" [class.disabled]="this.isPageNearVisible(page)">
      <a *ngIf="this.isPageVisible(page)" (click)="onPage(page)">{{page}}</a>
      <a *ngIf="this.isPageNearVisible(page)">...</a>
    </li>
    <!--<li *ngFor="let page of this.service.pages" [class.active]="page == this.service.pageNumber">
      <a (click)="onPage(page)">{{page}}</a>
    </li>-->
    <li [class.disabled]="this.service.pageNumber == this.service.pages[this.service.pages.length-1]">
      <a (click)="nextPage()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>