<header class="bg-info">
    <!--<a class="bg-warning" href="."><h3>AA Web Smart House</h3></a>-->
    <nav>
        <table>
            <tr>
                <td>
                    <a class="btn btn-info" href="."><span class="glyphicon glyphicon-home"></span> Home</a>
                    <a class="btn btn-info" href="."><span class="glyphicon glyphicon-cog"></span> Cog</a>
                    <a class="btn btn-info" href="."><span class="glyphicon glyphicon-star"></span> Star</a>
                </td>
                <td class="loginNavBar">
                    <loginNavBar>Loading Login Component...</loginNavBar>
                </td>
            </tr>
        </table>
    </nav>
</header>
<aside>...aside...</aside>
<article>
    <br>
    <screen>Loading Screen Component...</screen>
</article>
<footer>...footer...</footer>