<div>
    <span class="loginNavBarContainer">
    Hello <b>{{ username }}</b>!
    <button (click)="loginClicked()" class="btn btn-primary"><span class="glyphicon glyphicon-off"></span> Login</button>
    <button (click)="logoutClicked()" class="btn btn-danger"><span class="glyphicon glyphicon-off"></span> Logout</button>
    <!--<button (click)="isValidTokenClicked()" class="btn {{ isValidTokenButtonClass }}">{{ isValidTokenButtonText }}</button>-->
    <span>{{ spanText }}</span>
    </span>
</div>