<div class="screenContainer">
    <div>
        <form action="submit">
            <input [(ngModel)]="user.email" id="email" type="email">
            <label for="email">E-mail</label>
            <br>
            <input [(ngModel)]="user.password" id="password" type="password">
            <label for="password">Password</label>
            <br>
            <label *ngIf="!userService.userIsLoggedIn" for="storeToken">Remember me:</label>
            <input *ngIf="!userService.userIsLoggedIn" type="checkbox" [(ngModel)]="userService.toStoreToken" id="storeToken" />
            <br>
            <span class="bg-danger">{{errorMsg}}</span>
            <span *ngIf="userService.userIsLoggedIn" class="bg-success">{{successMsg}}</span><br>
            <button (click)="login()" class="btn" type="submit" name="action">Login</button>
        </form>
    </div>
</div>