<div>
    <table>
        <tr>
            <td>
                <a class="btn btn-info" href="."><span class="glyphicon glyphicon-home"></span> Home</a>
                <button class="btn btn-info" (click)="housesClicked()"><span class="glyphicon glyphicon-th"></span> Houses</button>
                <button class="btn btn-info" ><span class="glyphicon glyphicon-briefcase"></span> Briefcase</button>
                <button class="btn btn-info" ><span class="glyphicon glyphicon-cog"></span> Cog</button>
                <button class="btn btn-info" ><span class="glyphicon glyphicon-star"></span> Star</button>
            </td>
            <td class="loginNavBar">
                <div>
                    <div class="loginNavBarContainer">
                        <span>Hello <a (click)="displayUserDataScreen()">
                            <b>{{ userService.currentUser && (userService.currentUser.FirstName||userService.currentUser.LastName) ? userService.currentUser.FirstName + " " + userService.currentUser.LastName : "stranger" }}</b></a>!</span>
                    <button *ngIf="!userService.userIsLoggedIn" (click)="loginClicked()" class="btn btn-primary">
	                    <span class="glyphicon glyphicon-off"></span>
	                    <span>Login</span>
	                </button>
                    <button *ngIf="userService.userIsLoggedIn" (click)="logoutClicked()" class="btn btn-danger">
	                    <span class="glyphicon glyphicon-off"></span>
	                    <span>Logout</span>
	                </button>
                    <button *ngIf="!userService.userIsLoggedIn" (click)="registerClicked()" class="btn btn-danger">
	                    <span class="glyphicon glyphicon-edit"></span>
	                    <span>Register</span>
	                </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>