<div class="screenContainer">
    <form action="submit">
        <label for="userId">User ID:</label><br>
        <input type="text" id="userId" [(ngModel)]="userId" disabled="disabled">
        <br>
        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" [(ngModel)]="firstName" *ngIf="!isEditMode" disabled="disabled">
        <input type="text" id="firstName" [(ngModel)]="firstName" *ngIf="isEditMode">
        <br>
        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" [(ngModel)]="lastName" *ngIf="!isEditMode" disabled="disabled">
        <input type="text" id="lastName" [(ngModel)]="lastName" *ngIf="isEditMode">
        <br>
        <label for="phoneNumber">Phone Number:</label><br>
        <input type="text" id="phoneNumber" [(ngModel)]="phoneNumber" *ngIf="!isEditMode" disabled="disabled">
        <input type="text" id="phoneNumber" [(ngModel)]="phoneNumber" *ngIf="isEditMode">
        <br>
        <label for="oldEmail">E-Mail:</label><br>
        <input type="text" id="oldEmail" [(ngModel)]="oldEmail" disabled="disabled">
        <br>
        <label for="newEmail" *ngIf="isEditMode">New E-Mail:</label><br *ngIf="isEditMode">
        <input type="text" id="newEmail" [(ngModel)]="newEmail" *ngIf="isEditMode">
        <br *ngIf="isEditMode">
        <span class="bg-danger">{{errorMsg}}</span>
        <span *ngIf="!isEditMode && successMsg" class="bg-success">{{successMsg}}</span>
        <br>
        <button class="btn btn-warning" (click)="onEditClicked()" *ngIf="!isEditMode">Edit</button>
        <button class="btn btn-warning" (click)="onSaveChangesClicked()" *ngIf="isEditMode">Save Changes</button>
    </form>
</div>