<div class="screenContainer">
    <span>Houses:</span>
    <br>
    <div id="houses">
        <table class="table table-bordered" *ngIf="houses.length != 0">
            <tr class="info">
                <th>#</th>
                <th>Id:</th>
                <th>Name:</th>
                <th>Location:</th>
                <th>Description:</th>
                <th>Rooms:</th>
            </tr>
            <tr *ngFor="let house of houses;let i = index">
                <td>{{i+1}}.</td>
                <td>{{house.HouseId}}</td>
                <td>{{house.HouseName}}</td>
                <td>{{house.HouseLocation}}</td>
                <td>{{house.HouseDescription}}</td>
                <td><button class="btn btn-info">{{house.RoomIds.length}} Rooms</button></td>
            </tr>
        </table>
        <ul class="pager">
            <li><button class="btn btn-warning" (click)="previousClicked()"> << </button></li>
            <li><span>Page: {{page}}</span></li>
            <li><button class="btn btn-warning" (click)="nextClicked()"> >> </button></li>
        </ul>
    </div>
    <span class='bg-info'>{{message}}</span>
</div>