<div class="screenContainer">
    <span>Rooms:</span>
    <br>
    <div id="rooms">
        <table class="table table-bordered" *ngIf="rooms.length != 0">
            <tr class="info">
                <th>#</th>
                <th>Id:</th>
                <th>Name:</th>
                <th>Description:</th>
                <th>Sensors:</th>
            </tr>
            <tr *ngFor="let room of rooms;let i = index">
                <td>{{i+1}}.</td>
                <td>{{room.RoomId}}</td>
                <td>{{room.RoomName}}</td>
                <td>{{room.RoomDescription}}</td>
                <td><button class="btn btn-info" (click)="sensorsClicked(i)">{{room.SensorsIds.length}} Sensors</button></td>
            </tr>
        </table>

        <ul class="pager">
            <li><button class="btn btn-warning" (click)="previousClicked()"> << </button></li>
            <li><span>Page: {{page}}</span></li>
            <li><button class="btn btn-warning" (click)="nextClicked()"> >> </button></li>
        </ul>
    </div>
    <div *ngIf="message">
        <span>Server message: </span><span class='bg-info'>{{message}}</span>
    </div>
</div>