<div class="screenContainer">
    <span>Sensors:</span>
    <br>
    <div id="sensors">
        <table class="table table-bordered" *ngIf="sensors.length != 0">
            <tr class="info">
                <th>#</th>
                <th>Id:</th>
                <th>Name:</th>
                <th>Description:</th>
                <th>Units:</th>
                <th>Data:</th>
            </tr>
            <tr *ngFor="let sensor of sensors;let i = index">
                <td>{{i+1}}.</td>
                <td>{{sensor.SensorId}}</td>
                <td>{{sensor.SensorName}}</td>
                <td>{{sensor.SensorDescription}}</td>
                <td>{{sensor.SensorUnits}}</td>
                <td><button class="btn btn-info" (click)="sensorValuesClicked(i)">{{sensor.SensorValuesIds.length}} Sensor Values</button></td>
            </tr>
        </table>

        <ul class="pager">
            <li><button class="btn btn-warning" (click)="previousClicked()"> << </button></li>
            <li><span>Page: {{page}}</span></li>
            <li><button class="btn btn-warning" (click)="nextClicked()"> >> </button></li>
        </ul>
    </div>
    <div *ngIf="message">
        <span>Server message: </span><span class='bg-info'>{{message}}</span>
    </div>
</div>