<div class="screenContainer">
    <span>Sensor Values:</span>
    <br>
    <div id="sensorValues">
        <table class="table table-bordered" *ngIf="sensorData.length != 0">
            <tr class="info">
                <th>#</th>
                <th>Id:</th>
                <th>Sensor Id:</th>
                <th>Value:</th>
                <th>Value Date&Time:</th>
            </tr>
            <tr *ngFor="let data of sensorData;let i = index">
                <td>{{i+1}}.</td>
                <td>{{data.SensorValueId}}</td>
                <td>{{data.SensorId}}</td>
                <td>{{data.Value}}</td>
                <td>{{data.SensorValueDateTime | date:'medium'}}</td>
                <!--<td><button class="btn btn-info" (click)="sensorDataClicked(i)">SensorData</button></td>-->
            </tr>
        </table>
        <ul class="pager">
            <li><button class="btn btn-warning" (click)="previousClicked()"> << </button></li>
            <li><span>Page: {{page}} of {{pages}}</span></li>
            <li><button class="btn btn-warning" (click)="nextClicked()"> >> </button></li>
        </ul>
    </div>
    <div *ngIf="message">
        <span>Server message: </span><span class='bg-info'>{{message}}</span>
    </div>
</div>